@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

nav {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    color: lightgray;
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;
}

a, h3 {
    color: lightgray;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    color: lightgray;
    font-size: 48px;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
    gap: 50px;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    flex: 1;
    flex-basis: 325px;
}

.hero button {
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 110, 219);
    font-size: 16px;
    color: white;
    height: 40px;
    width: 80px;
}

.hero button:hover {
    background-color: rgb(0, 128, 255)
}

.hero img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    gap: 25px;
    background-color: #161617;
}

.info h1 {
    color: #86868b;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pictures img {
    border-radius: 20px;
    max-width: 250px;
    flex: 1;
}

.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.saying {
    color: white;
    font-size: 36px;
    font-style: italic;
    font-weight: 100px;
}

.sayer {
    color: lightgray;
    align-self: flex-end;
    font-weight: 400;
    margin-right: 20px;
}



.box button {
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 110, 219);
    font-size: 16px;
    color: white;
    height: 40px;
    width: 100px;
}

footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
}