@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

nav {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    color: lightgray;
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;
}

a, h3 {
    color: lightgray;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
}